/* Furnitrade Site CSS File 
Everything should be well commented*/

* {
   box-sizing: border-box;
}

html, body {
   padding: 0;
   margin: 0;
}

a{
   color: white;
   text-decoration: none;
}

p{
   margin: 0px 0px 0px 0px;
}

header{
   position: static;
   height: 166px;
}

body {
   font-family: 'Be Vietnam';
   background-color: white;
   margin-bottom: 0px;
 }

 h1 {

 }

 /* index.html */

 .mainheader {
   position: fixed;
   padding-top: 100px;
   padding-bottom: 0px;
   width: 100%;
   background-color: white;
   color: white;
   text-align: left;
 }

 .header-logo {

}

.header-account {
   position:absolute;
   top:0;
   right:0;
}


.menu {
   overflow: hidden;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #e98366;
   color: white;
   text-align: left;
}

.slider {
   width: 1250px;
   height: 500px;
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;  
   padding-left: 7px;
 }
 .slide {
   width: 1250px;
   flex-shrink: 0;
   height: 100%;
   scroll-snap-align: start
 }

.footer{
   position: static;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 100%;
   background-color: #e98366;
   color: white;
   text-align: center;
}