/* Furnitrade Site CSS File 
Everything should be well commented*/

* {
   box-sizing: border-box;
}

html, body {
   padding: 0;
   margin: 0;
}

a{
   color: white;
   text-decoration: none;
}

p{
   margin: 0px 0px 0px 0px;
}

header{
   position: static;
   height: 166px;
}

body {
   font-family: 'Be Vietnam';
   background-color: white;
   margin-bottom: 0px;
 }

 h1 {

 }

/* index.html */ 

 .mainheader {
   position: fixed;
   padding-top: 20px;
   padding-bottom: 0px;
   width: 100%;
   background-color: white;
   color: white;
   text-align: left;
 }

 .header-logo {

}

.header-account {
   position:absolute;
   top:0;
   right:0;
}

.login{
   border-radius: 6px;
   background-color: white;
   color: #e98366;
   border: 2px solid #e98366;
   margin-top: 20px;
   margin-right: 20px;
   font-size: 16px;
   font-weight: bold;
}

.login:hover{
   background-color: #e98366;
   color: white;
}

.login:active{
   border-color: white;
}


.menu {
   overflow: hidden;
   background-color: #e98366;
   color: white;
   text-align: left;
   padding-left: 30px;
}

.menu a {
   float: left;
   color: white;
   text-align: center;
   padding: 10px 30px 10px 30px;
   text-decoration: none;
 }

 .menu a:hover {
   background-color: white;
   color: #e98366;
 }

.slider {
   width: 1250px;
   height: 500px;
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;  
   padding-left: 7px;
 }
 .slide {
   width: 1250px;
   flex-shrink: 0;
   height: 100%;
   scroll-snap-align: start
 }

.footer{
   position: static;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 100%;
   background-color: #e98366;
   color: white;
   text-align: center;
}


/* sell.php */ 

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__input {
   background-color: white;
   border: 3px dashed #e98366;
   height: 300px;
   width: 200px;
   border-radius: 15px;
   margin-left: 100px;
   margin-top: 75px;
   margin-bottom: 75px;
   margin-right: 50px;
   display: inline-block;
   padding: 5px 5px 5px 5px;
 }

 .productData {
   background-color: white;
   border: 1px solid #e98366;
   height: 300px;
   width: 500px;
   border-radius: 5px;
   margin-left: 100px;
   margin-top: 75px;
   margin-bottom: 75px;
   margin-right: 50px;
   display: inline-block;
   padding: 5px 5px 5px 5px;
 }

.box__dragndrop{
   padding-bottom: 100px;
}

.box__input:hover {
   background-color: rgb(253, 235, 207);
 }