/* Furnitrade Site SCSS File 
Everything should be well commented

!!!!
This needs to be compiled somehow into a css file that
is then linked in the html, scss cannot be directly linked
!!!!

*/


 /* index.html */

.account{
   margin-top: 20px;
   margin-right: 20px;

   background: #e98366;
   width: 180px;
   padding: 4px 0;
   
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   border-radius: 3px; 
}

&:hover {
   cursor: pointer;
 }
 
&:after {
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 10%;
   border-radius: 50%;
   background-color: darken(#f1c40f, 20%);
   opacity: 0.4;
   bottom: -30px;
 }
